@import "tailwindcss";

@theme {
  --font-display: Inter;

  --color-black: #10141a;
  --color-white: #fff;
  --color-grey: #e7e7e7;
  --color-yellow: #ffc700;
  --color-green: #008c00;
  --color-blue: #1a679d;
  --color-red: #ff7575;
  --color-light-green: #cce8cc;
  --color-light-yellow: #fff4cc;
  --color-light-purple: #ece0ff;
  --color-light-blue: #c8f0f0;

  --text-h1: 2.6875rem; /* 43px */
  --text-h2: 2.5rem; /* 40px */
  --text-h3: 2.25rem; /* 36px */
  --text-h4: 2rem; /* 32px */
  --text-h5: 1.75rem; /* 28px */
  --text-title: 1.5rem; /* 24px */
  --text-subtitle: 1.25rem; /* 20px */
  --text-base: 1rem; /* 16px */
  --text-small: 0.875rem; /* 14px */
}

body {
  font-family: Inter;
  color: #10141a;
  background-image: url(../public/bg-desktop.svg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1 {
  font-size: 2.6875rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
}

button {
  cursor: pointer !important;
}

textarea {
  resize: none;
}

select {
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &,
  &::picker(select) {
    appearance: base-select;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    border-radius: 1rem;
    background-color: white;
  }

  &::picker(select) {
    margin-block-start: 9px;
  }

  &::picker-icon {
    display: none;
  }

  .picker {
    transition: rotate 300ms ease;

    :open & {
      rotate: 180deg;
    }
  }
}

option {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 10px;

  &::checkmark {
    display: none;
  }
}

.container {
  width: 100%;
  padding-bottom: 34px;
  overflow-x: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  backdrop-filter: blur(16px);
}

.bg-mobile {
  background-image: url(../public/bg-desktop.svg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.react-calendar {
  border: none !important;
  border-radius: 1rem;
  padding: 20px;
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #008c00;
  border-radius: 6px;
}

.react-calendar__tile--now {
  background: #008c003f !important;
  border-radius: 6px;
  font-weight: bold !important;
  color: #008c00;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #008c00 !important;
  border-radius: 6px;
  font-weight: bold;
  color: #008c00;
}

.react-calendar__tile--hasActive {
  background-color: #008c00 !important;
  color: white;
  border-radius: 6px;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}

.react-calendar__tile--active {
  background: #008c00 !important;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #008c00 !important;
  color: white;
}

.active {
  font-weight: 500;
  color: --color-black;
  background-color: white;
}

.fadeIn {
  animation: fadeIn 300ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.slideIn {
  animation: slideIn 700ms ease;
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.growIn {
  animation: growIn 700ms ease;
}

@keyframes growIn {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

.leftIn {
  animation: leftIn 700ms ease;
}

@keyframes leftIn {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@media only screen and (max-width: 1280px) {
  :root {
    --text-h1: 2.25rem;
    --text-h2: 2rem;
    --text-h3: 1.75rem;
    --text-h4: 1.5rem;
    --text-h5: 1.375rem;
    --text-title: 1.25rem;
    --text-subtitle: 1.125rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.375rem;
  }

  .container {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 100px;
    overflow-x: hidden;
  }

  .active {
    font-weight: 500;
    color: white;
    background-color: #10141a;
    width: 100%;
  }

  .react-calendar {
    border: none !important;
    border-radius: 1rem;
    padding: 20px;
    width: 100% !important;
  }
}
